{
  "semi": true,
  "bracketSameLine": true,
  "vueIndentScriptAndStyle": true,
  "tabWidth": 2,
  "printWidth": 100,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["prettier-plugin-tailwindcss"]
}
